body {
  width: max-content;
  height: 100%;
  overflow-y: hidden;
  background-color: #25274d;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #aaabb8;
}

.keyContainer {
  display: flex;
  margin-top: 100px;
  border: 10px solid #464866;
}

.container{
  display: flex;
  /* justify-content: space-around; */
  gap: 50px
}
.listContainer{
  margin-top: 20px;
  position: relative;
}

.whiteKey {
  position: relative;
  height: 170px;
  width: 60px;
  border: 1px solid black;
  background-color: #fff;
}

.whiteKey:active {
  background-color: #ddd;
  transform: scale(0.99);
}

.blackKey {
  position: relative;
  height: 120px;
  width: 40px;
  background-color: black;
  margin: 0px -20px;
  z-index: 2;
}

.blackKey:active {
  background-color: #222;
  transform: scale(0.99);
}

.wrapper{
  margin: 20px 0;
  display: flex;
}
.nameInput{
  padding-right: 8px;
  height: 32px;
  width: 84px;
  word-wrap: break-word;
  line-height: 20px;
  text-align: right;
}

.metronomeControls {
  background-color: #464866;
  border: none;
  height: 40px;
  width: 120px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.button {
  margin-left: 10px;
  position: relative;
  display: flex;
  margin: 20px 0 0 20px;
  height: 50px;
  width: 180px;
  padding: 0;
  background-color: #29648a;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
  cursor: pointer;
   /* transition: background-color 200ms, transform 200ms; */
}
.buttonText,
.icon {
  display: inline-flex;
  align-items: center;
  color: #fff;
  height: 100%;
}

.icon {
  position: absolute;
  left: 12px;
  font-size: 1.5em;
  overflow: hidden;
}

.icon img {
  height: 40px;
  width: 40px;
}

.buttonText {
  padding-left: 64px;
  text-align: left;
  line-height: 18px;
}


.button:hover {
  background-color: #185379;
}

.button:active {
  transform: scale(0.98);
  background-color: #074268;
}

.buttonStop {
  background-color: #b4535c;
}
.buttonStop :hover {
  background-color: #a3424b;
}

.recordControls{
  background-color: #2e9cca;
  border: none;
  height: 40px;
  width: 130px;
  margin: 20px 0 0 0;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.recordControls:hover {
  background-color: #222;
}

#recording{
  margin-top: 60px;
}
#recording :active{
  background-color: #b4535c;
}